/* assets/custom.css */

/* General Body Styling */
body {
    background-color: #f0f8ff;  /* Light blue background */
    font-family: 'Arial', sans-serif;  /* Clean and modern font */
    color: #333;  /* Dark text for better readability */
    margin: 0;
    padding: 0;
}

/* Main Container */
.main-container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

/* Header Styling */
h1 {
    text-align: center;
    color: #1f77b4;  /* Soft Blue */
    font-size: 2.5em;
    margin-bottom: 30px;
}

/* Label and Dropdown Styling */
label {
    font-weight: bold;
    color: #1f77b4;  /* Blue color for labels */
    margin-bottom: 10px;
    display: block;
}

.dcc-dropdown, .dcc-date-picker-range {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 2px solid #1f77b4;
}

/*------------------------------------------------------------------ */

/* Entire tabs container */
.tab-container {
    margin-bottom: 20px;
}

/* Inactive tab */
.dash-tab {
    background-color: #333;
    color: #fff;
    border: none;
}

/* Active tab */
.dash-tab--selected {
    background-color: #1f77b4 !important;
    color: white !important;
    font-weight: bold;
}

/*------------------------------------------------------------------ */

/* Shared Styling for Tab-2 and Tab-3 */

/* Title for Tab */
.tab-title {
    text-align: center;
    color: #1f77b4;  /* Blue color matching the theme */
    font-size: 2em;
    margin-bottom: 20px;
}

/* Text for Tab */
.tab-text {
    text-align: center;
    color: #555; /* Dark grey */
    font-size: 1.2em;
    margin-bottom: 20px;
    font-style: italic;
}

/* Container for Tab */
.tab-container {
    background-color: #e6f7ff;  /* Light blue background for output */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    font-weight: bold;
    color: #007bb5;  /* Dark blue text */
    font-size: 1.3em;
    text-align: center;
    margin-top: 20px;
}

/* Image Styling */
.tab-container img {
    max-width: 100%;
    max-height: 600px;
    object-fit: contain;
}

/* Styling for Tab-2 and Tab-3 Evaluation Text */
.tab-text p {
    margin-bottom: 10px;
}

